html {
    font-family: 'Times New Roman', Times, serif;
}

main {
    flex-wrap: nowrap;
    width: 500px;
    text-align: center;
    margin: auto;
}
#titulo {
    text-align: center;
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    color: rgb(32, 166, 255);
    font-size: larger;
}
#numeroOculto {
    margin: auto;
    text-align: center;
    display: flex;
    height: 150px;
    align-items: center;
}

.box {
    height: 90px;
    width: 90px;
    margin: auto;
    border-radius: 15%;
    font-size: 200%;
    background-color: rgb(32, 184, 255);
    display: grid;
    place-content: center;
}

#form {
    text-align: center;
    font-size: 30px;
    height: auto;
    border: 2px solid rgb(32, 184, 255);
    border-radius: 15px;
}
#intentoUsuario {
    text-align: center;
    margin-top: -40px;
}
#imput {
    border: 0px;
    border-bottom: 2px solid rgb(32, 184, 255);
    text-align: center;
    font-size: large;
    outline: none;
}
#comprobarNumero {
    width: 80%;
    height: 50px;
    margin: 20px;
    background-color: rgb(32, 184, 255);
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}

#comprobarNumero span {
    font-size: large;
    color: white;
}

#botton :hover{
    background-color: rgb(33, 155, 255);
}

#divMensaje {
    margin-top: 5px;
    background-color: rgb(255, 49, 49);
    color: white;
    font-size: large;
    height: 30px;
    border-radius: 8px;
    display: grid;
    place-content: center;
}
#divIntentos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.boxIntentos {
    height: 90px;
    width: 90px;
    margin: auto;
    border-radius: 15%;
    font-size: 200%;
    background-color: rgb(151, 151, 151);
    display: grid;
    place-content: center;
    margin-bottom: 10px;
}
